* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #274c71;
}

/*Header*/
header {
    display: flex;
    width: 90%;
    margin: auto;
    height: 8vh;
    align-items: center;
}

.logo, .menu-redessociais, .github {
    display: flex;
}

.logo {
    flex: 1;
}

.img-logo {
    width: 40px;
    height: 40px;
    border: 1px solid #da274d;
    border-radius: 4px;
    filter: drop-shadow(0px 1px 1px #000);
}

nav {
    flex: 1;
}

.menu-redessociais {
    justify-content: flex-end;
    list-style: none;
}

.link {
    margin-left: 50px;
    font-size: 17px;
    text-decoration: none;
    color: #b2b1b1;
    cursor: pointer;
}

/*Main*/
.apresentacao {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.banner {
    flex: 2;
    color: #f9f6e5;
}

.textos {
    width: 80%;
}

.textos h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.textos h2 {
    margin-bottom: 20px;
}

.textos p {
    font-size: 18px;
    margin-bottom: 25px;
    color: #b3b2b2;
}

.desenho img {
    flex: 1;
    height: 50vh;
    filter: drop-shadow(0px 1px 1px #000);
}

.botao-github {
    width: 78px;
    height: 28px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-image: linear-gradient(#274c71, #274c71), radial-gradient(circle at top left, #909e56, #da274d);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-bottom: 10px;
}
.texto-botao a {
    display: flex;
    text-decoration: none;
    font-size: 16px;
    color: #b3b2b2;
    padding: 5px 15px;
}

/*footer*/
footer {
    background-image: linear-gradient(to right, #da274d, #909e56);    
    height: 80px;
}

/*Responsividade*/
@media screen and (max-width: 1024px) {
    .link{
        margin-left: 40px;
    }
    .apresentacao {
        flex-direction: column;
    }
    .banner {
        margin-top: 4vh;
    }
    .textos{
        text-align: center;
        margin: auto;
    }
    .textos h1 {
        font-size: 32px;
    }
    .textos h2 {
        font-size: 20px;
    }
    .textos p {
        margin-top: 10px;
        font-size: 16px;
    }
    .botao-github{
        margin: 8px auto;
    }
    .desenho img{
        height: 35vh;
        margin: 20px auto;
    }
    footer{
        height: 8vh;
    }
}

@media screen and (max-width: 440px) {
    .logo{
        display: none;
    }
    .menu-redessociais{
        background-color: #da274d;
        background-image: linear-gradient(to right, #da274d, #909e56);
        border-radius: 5px; 
        justify-content: center;
    }
    .link{
        color: #cccbcb;
        margin: 13px;
        text-align: center;
        font-size: 20px;
    }
    .apresentacao{
        flex-direction: column;
    }
    .banner{
        margin-top: 1vh;
    }
    .textos{
        text-align: center;
    }
    .textos h1 {
        font-size: 29px;
    }
    .textos h2 {
        font-size: 18px;
    }
    .textos p {
        margin-top: 10px;
        font-size: 14px;
    }
    .desenho img{
        height: 25vh;
    }
    footer{
        height: 12px;
    }
}